---
title: Silkroad - Apply
---

<%= partial "nav" %>

<section class="sr-breadcrumb">
  <div class="sr-wrapper sr-wrapper--medium">
    <% link_to 'job-detail.html', class: "sr-button sr-button--with-icon sr-button--just-text" do %>
      <i class="material-icons sr-button__icon">chevron_left</i>
      Senior Product Designer
    <% end %>
  </div>
</section>

<section class="sr-job-detail__description">
  <div class="sr-wrapper sr-wrapper--medium">
    <div class="sr-job-detail__category">Design</div>
    <div class="sr-job-detail__job-title">Senior Product Designer</div>
    <div class="sr-job-detail__location">Jacksonville, FL</div>
    <form class="sr-form">
      <div class="sr-wrapper sr-wrapper--small">
        <div class="sr-form__field sr-form__field--error">
          <label class="sr-form__label" for="firstname">* First Name</label>
          <input id="firstname" class="sr-form__input" type="text" />
          <div class="sr-form__helper">
            Please type your first name
          </div>
        </div>
        <div class="sr-form__field">
          <label class="sr-form__label" for="lastname">* Last Name</label>
          <input id="lastname" class="sr-form__input" type="text" />
          <div class="sr-form__helper">
            Please type your last name
          </div>
        </div>
        <div class="sr-form__field">
          <label class="sr-form__label" for="email">* Email Address</label>
          <input id="email" class="sr-form__input" type="email" />
          <div class="sr-form__helper">
            Please type your email addresss
          </div>
        </div>
        <div class="sr-form__field sr-form__field--disabled">
          <label class="sr-form__label" for="phone">Phone</label>
          <input id="phone" class="sr-form__input" type="tek" disabled />
          <div class="sr-form__helper">
            Phone number invalid
          </div>
        </div>
        <div class="sr-form__field">
          <div class="sr-form__label">* Resume</div>
          <%= link_to "Attach" %>
          <%= link_to "Dropbox" %>
          <div class="sr-form__helper">
            There was a problem with your upload
          </div>
        </div>
      </div>
      <br>
      <h3>U.S. Equal Employment Opportunity Information</h3>
      <p>Nulla eleifend elit eget viverra fermentum. Donec sed purus mauris. Fusce laoreet tellus at hendrerit aliquam. Phasellus maximus dui efficitur, egestas augue sit amet, sodales risus. Pellentesque ullamcorper eu quam a molestie. Maecenas rhoncus congue purus vitae sollicitudin. Duis suscipit faucibus leo, ac semper tellus aliquam sit amet. In quis iaculis ligula. Vestibulum pulvinar eros non leo bibendum, ac tincidunt lorem varius.</p>
      <p>Vestibulum accumsan tortor a dui fermentum volutpat. Maecenas vel sagittis sem. Nunc viverra erat dolor, a euismod dui ultrices at. Proin mi ligula, efficitur tempus volutpat non, hendrerit sit amet orci. Nam sed ante vestibulum eros vehicula placerat ac id est. Maecenas eleifend ligula nibh, et luctus magna mattis ac. Integer suscipit vehicula lorem nec tincidunt. Nullam vitae bibendum risus. Proin hendrerit laoreet fermentum. Pellentesque convallis pharetra consectetur.</p>
      <div class="sr-wrapper sr-wrapper--small">
        <div class="sr-form__field">
          <label class="sr-form__label" for="gender">Gender</label>
          <div class="sr-select">
            <select id="gender">
              <option value="Option 1">Option 1</option>
              <option value="Option 2">Option 2</option>
            </select>
            <span class="sr-select__icon"><i class="material-icons">arrow_drop_down</i></span>
          </div>
        </div>
        <div class="sr-form__field">
          <label class="sr-form__label" for="race">Race</label>
          <div class="sr-select">
            <select id="race">
              <option value="Option 1">Option 1</option>
              <option value="Option 2">Option 2</option>
            </select>
            <span class="sr-select__icon"><i class="material-icons">arrow_drop_down</i></span>
          </div>
        </div>
        <div class="sr-form__field">
          <div class="sr-form__label">* Are you authorized to work in the United States?</div>
          <input id="r1" name="radio1" type="radio" /><label for="r1">Yes</label>
          <br>
          <input id="r2" name="radio1" type="radio" /><label for="r2">No</label>
          <div class="sr-form__helper">
            Please select one
          </div>
        </div>
        <div class="sr-form__field">
          <div class="sr-form__label">Signup for open resume submission?</div>
          <input id="r3" name="radio2" type="radio" /><label for="r3">Yes</label>
          <br>
          <input id="r4" name="radio2" type="radio" /><label for="r4">No</label>
          <div class="sr-form__helper">
            Please select one
          </div>
        </div>
      </div>
      <div class="align--center">
        <input id="modal__button" class="sr-button sr-button--large sr-button--primary" type="submit" value="Next" />
        <br><br>
        <%= link_to "Privacy Policy" %>
      </div>
    </form>
  </div>
</section>

<!-- Safe Harbor Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal__content">
    <span class="modal__close"><i class="material-icons">close</i></span>
    <h3>Safe Harbor Enforcement</h3>
    <p>Nulla eleifend elit eget viverra fermentum. Donec sed purus mauris. Fusce laoreet tellus at hendrerit aliquam. Phasellus maximus dui efficitur, egestas augue sit amet, sodales risus. Pellentesque ullamcorper eu quam a molestie. Maecenas rhoncus congue purus vitae sollicitudin. Duis suscipit faucibus leo, ac semper tellus aliquam sit amet. In quis iaculis ligula. Vestibulum pulvinar eros non leo bibendum, ac tincidunt lorem varius.</p>
    <p>Vestibulum accumsan tortor a dui fermentum volutpat. Maecenas vel sagittis sem. Nunc viverra erat dolor, a euismod dui ultrices at. Proin mi ligula, efficitur tempus volutpat non, hendrerit sit amet orci. Nam sed ante vestibulum eros vehicula placerat ac id est. Maecenas eleifend ligula nibh, et luctus magna mattis ac. Integer suscipit vehicula lorem nec tincidunt. Nullam vitae bibendum risus. Proin hendrerit laoreet fermentum. Pellentesque convallis pharetra consectetur.</p>
    <br>
    <%= link_to "Accept &amp; Submit", "job-detail.html", class: "sr-button sr-button--large sr-button--primary" %>
    &nbsp;
    <%= link_to "Cancel" %>
  </div>

</div>

<script>
  // Get the modal
  var modal = document.getElementById('myModal');

  // Get the button that opens the modal
  var btn = document.getElementById("modal__button");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("modal__close")[0];

  // When the user clicks the button, open the modal
  btn.onclick = function() {
    modal.style.display = "block";
    return false;
  }
  btn.keypress = function() {
    modal.style.display = "block";
    return false;
  }

  // When the user clicks on <span> (x), close the modal
  span.onclick = function() {
    modal.style.display = "none";
    return false;
  }

  span.keypress = function() {
    modal.style.display = "none";
    return false;
  }


</script>
